html {
  font-family: sans-serif;
  color: white;
  background-color: #333333;
}

body {
  background: rgb(221,237,247);
}

h1 {
  width: 100%;
  text-align: center;
}

.canvass {
  clear: both;
  width: 512px;
  height: 512px;
  border: 1px solid lightgray;
  display: block;
  margin: 0 auto;
}

.roww {
  float: left;
}

.cell {
  float: left;
  width: 25px;
  height: 25px;
  border: 1px solid lightgray;
  position: relative;
  color: black;
}

.cell p {
  position: absolute;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  width: 100%;
  line-height: 30px;
}

.btn-container {
  clear: both;
  padding-top: 10px;
  width: 512px;
  display: block;
  margin: 0 auto;
}

.btn {
  width: 100px;
  float: left;
  padding: 5px;
  margin: 5px 5px;
  cursor: pointer;
}

.btn p {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
}

.btn:hover {
  box-shadow: 0 0 6px white;
}

.button {
  background-color: white;
  color: black;
}

.selected {
  box-shadow: 0 0 6px white;
}

.red-bg {
  background-color: #ED1B24;
}

.brown-bg {
  background-color: #805600;
  color: white;
}

.tan-bg {
  background-color: #FFC20F;
}

.black-bg {
  background-color: #464646;
  color: white;
}

.blue-bg {
  background-color: #00B7F0;
}

.yellow-bg {
  background-color: #FEF206;
  color: black;
}

.white-bg {
  background-color: white;
  color: black;
}

.charm-red-bg{
  background-color: #f34135;
}

.charm-black-bg{
  background-color: black;
  color: white;
}

.charm-yellow-bg{
  background-color: #ffeb3c;
}

.charm-orange-bg{
  background-color: #ff9700;
}

.charm-white-bg{
  background-color: white;
}

.kitty-red-bg{
  background-color: #ff0000;
}

.kitty-white-bg{
  background-color: #ffffff;
}

.kitty-black-bg{
  background-color: #000000;
  color: white;
}

.sword-dgreen-bg{
  background-color: #135f52;
}

.sword-lgreen-bg{
  background-color: #35e7c7;
}

.sword-brown-bg{
  background-color: #876526;
}

.sword-white-bg{
  background-color: #ffffff;
}

.ice-lpink-bg{
  background-color: #faadd7;
}

.ice-dpink-bg{
  background-color: #d2007f;
}

.ice-yellow-bg{
  background-color: #fcbb00;
}

.ice-black-bg{
  background-color: #000000;
  color: white;
}

.ice-white-bg{
  background-color: #ffffff;
}

.dead-red-bg{
  background-color: #ee4035 ;
}

.dead-white-bg{
  background-color: #ffffff;
}

.dead-black-bg{
  background-color: #000000;
  color: white;
}

.hide-copy p {
  display: none;
}

