body {
    text-align: center;
    font-family: Arial;
    background-color: #ececec;
  }
  
  
  * {
    font-family: Arial;
    color: grey;
  }
  
  /* Styles title */
  h1 {
    font-size: 2em;
    text-transform: uppercase;
  }
  
  /* First margin value is top, second is right and left sides, third is bottom */
  h4 {
    margin: 1em 0 0.75em;
    text-align: left;
    text-transform: uppercase;
  }
  
  /* Applies to italicized text */
  em {
    font-size: 13px;
    color: #bfbfbf;
  }
  
  table,
  tr,
  td {
    border: black 1px solid;
  }
  
  .pixel-canvas {
    background-color : white;
    justify-content: center;
  }
  
  /* 'border-collapse' CSS property specifies whether a table's cells have shared or separate borders; 'collapse' value causes cells to have shared borders */
  table {
    border-collapse: collapse;
  }
  
  table.pixel-canvas tr {
    height: 20px;
  }
  
  table.pixel-canvas td {
    min-width: 20px;
    box-sizing: border-box;
  }

  table.preview-image tr {
    height: 10px;
  }

  table.preview-image td {
    min-width: 10px;
    box-sizing: border-box;
  }
  
  /* Styles height and width input boxes */
  input[type=number] {
    width: 3em;
    border: 1px solid #dcdcdc;
  }
  
  /* Styles buttons, including a change of displayed mouse cursor to inform user he/she is hovering over something clickable */
  .submit-button, .quick-fill, .erase-mode, .draw-mode {
    box-shadow: inset 0px 1px 0 0 #fff;
      background: linear-gradient(#f9f9f9 5%, #e9e9e9 100%);
    /* creates rounded edges (more pixels -> more rounded) */
      border-radius: 7px;
      border: 1px solid #dcdcdc;
      font-weight: bold;
    /* Padding is space between element's content and border. First value sets top and bottom padding; second value sets right and left */
      padding: 6px 24px;
      text-decoration: none;
      /* text-shadow: 0 1px #fff; */
    cursor: pointer;
    /* Places button on its own line */
    display: block;
    margin-top: 1em;
  }
  
  .color-picker {
      border: 1px solid #dcdcdc;
    -webkit-appearance: none;
    padding: 0;
    border: none;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    padding: 0;
  }
  .color-picker::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 0;
  }
  
  /* Styles content to left of grid */
  .inputs {
    text-align: left;
    margin-left: 8em;
    margin-top: 5.35em;
    border-radius: 7px;
    border: 1px solid #dcdcdc;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    width: 200px;
    background-color : white;
  }
  
  /* Part of two-column layout implementation */
  .column {
    float: left;
    width: 35%;
  }
  
  /* Ensures title ('Pixel Art Maker') is centered above grid */
  .column:last-of-type {
    width: auto;
  }
  
  /* Part of two-column layout implementation. :after' is a pseudo element, affecting display of generated content */
  .row:after {
    /* You can't style generated content without defining what that content should be. If content not needed, just add extra 'invisible element' to style, and style that. Without this, default value of content: none is assumed, meaning there is nothing for style to be applied to */
    content: "";
    display: table;
    /* Cleared elements are pushed below the corresponding floated elements; 'clear: both' pushes element below all floated elements */
    clear: both;
  }  

  .preview-image {
    box-shadow: 50px 20px 0 0 rgba(0, 0, 0, 1), 150px 20px 0 0 rgba(0, 0, 0, 1), 160px 20px 0 0 rgba(0, 0, 0, 1), 170px 20px 0 0 rgba(0, 0, 0, 1), 180px 20px 0 0 rgba(0, 0, 0, 1), 40px 30px 0 0 rgba(0, 0, 0, 1), 50px 30px 0 0 rgba(243,65,53,1), 60px 30px 0 0 rgba(0, 0, 0, 1), 140px 30px 0 0 rgba(0, 0, 0, 1), 150px 30px 0 0 rgba(255,151,0,1), 160px 30px 0 0 rgba(255,151,0,1), 170px 30px 0 0 rgba(255,151,0,1), 180px 30px 0 0 rgba(255,151,0,1), 190px 30px 0 0 rgba(0, 0, 0, 1), 30px 40px 0 0 rgba(0, 0, 0, 1), 40px 40px 0 0 rgba(243,65,53,1), 50px 40px 0 0 rgba(243,65,53,1), 60px 40px 0 0 rgba(0, 0, 0, 1), 130px 40px 0 0 rgba(0, 0, 0, 1), 140px 40px 0 0 rgba(255,151,0,1), 150px 40px 0 0 rgba(255,151,0,1), 160px 40px 0 0 rgba(255,151,0,1), 170px 40px 0 0 rgba(255,151,0,1), 180px 40px 0 0 rgba(255,151,0,1), 190px 40px 0 0 rgba(255,151,0,1), 200px 40px 0 0 rgba(0, 0, 0, 1), 30px 50px 0 0 rgba(0, 0, 0, 1), 40px 50px 0 0 rgba(243,65,53,1), 50px 50px 0 0 rgba(243,65,53,1), 60px 50px 0 0 rgba(0, 0, 0, 1), 130px 50px 0 0 rgba(0, 0, 0, 1), 140px 50px 0 0 rgba(255,151,0,1), 150px 50px 0 0 rgba(255,151,0,1), 160px 50px 0 0 rgba(255,151,0,1), 170px 50px 0 0 rgba(255,151,0,1), 180px 50px 0 0 rgba(255,151,0,1), 190px 50px 0 0 rgba(255,151,0,1), 200px 50px 0 0 rgba(0, 0, 0, 1), 20px 60px 0 0 rgba(0, 0, 0, 1), 30px 60px 0 0 rgba(243,65,53,1), 40px 60px 0 0 rgba(243,65,53,1), 50px 60px 0 0 rgba(243,65,53,1), 60px 60px 0 0 rgba(243,65,53,1), 70px 60px 0 0 rgba(0, 0, 0, 1), 120px 60px 0 0 rgba(0, 0, 0, 1), 130px 60px 0 0 rgba(255,151,0,1), 140px 60px 0 0 rgba(255,151,0,1), 150px 60px 0 0 rgba(255,151,0,1), 160px 60px 0 0 rgba(255,151,0,1), 170px 60px 0 0 rgba(255,151,0,1), 180px 60px 0 0 rgba(255,151,0,1), 190px 60px 0 0 rgba(255,151,0,1), 200px 60px 0 0 rgba(255,151,0,1), 210px 60px 0 0 rgba(0, 0, 0, 1), 20px 70px 0 0 rgba(0, 0, 0, 1), 30px 70px 0 0 rgba(243,65,53,1), 40px 70px 0 0 rgba(255,235,60,1), 50px 70px 0 0 rgba(243,65,53,1), 60px 70px 0 0 rgba(243,65,53,1), 70px 70px 0 0 rgba(0, 0, 0, 1), 120px 70px 0 0 rgba(0, 0, 0, 1), 130px 70px 0 0 rgba(255,151,0,1), 140px 70px 0 0 rgba(255,151,0,1), 150px 70px 0 0 rgba(255,151,0,1), 160px 70px 0 0 rgba(0, 0, 0, 1), 180px 70px 0 0 rgba(255,151,0,1), 190px 70px 0 0 rgba(255,151,0,1), 200px 70px 0 0 rgba(255,151,0,1), 210px 70px 0 0 rgba(255,151,0,1), 220px 70px 0 0 rgba(0, 0, 0, 1), 20px 80px 0 0 rgba(0, 0, 0, 1), 30px 80px 0 0 rgba(243,65,53,1), 40px 80px 0 0 rgba(255,235,60,1), 50px 80px 0 0 rgba(255,235,60,1), 60px 80px 0 0 rgba(243,65,53,1), 70px 80px 0 0 rgba(0, 0, 0, 1), 110px 80px 0 0 rgba(0, 0, 0, 1), 120px 80px 0 0 rgba(255,151,0,1), 130px 80px 0 0 rgba(255,151,0,1), 140px 80px 0 0 rgba(255,151,0,1), 150px 80px 0 0 rgba(255,151,0,1), 160px 80px 0 0 rgba(0, 0, 0, 1), 170px 80px 0 0 rgba(0, 0, 0, 1), 180px 80px 0 0 rgba(255,151,0,1), 190px 80px 0 0 rgba(255,151,0,1), 200px 80px 0 0 rgba(255,151,0,1), 210px 80px 0 0 rgba(255,151,0,1), 220px 80px 0 0 rgba(0, 0, 0, 1), 30px 90px 0 0 rgba(0, 0, 0, 1), 40px 90px 0 0 rgba(0, 0, 0, 1), 50px 90px 0 0 rgba(255,235,60,1), 60px 90px 0 0 rgba(0, 0, 0, 1), 110px 90px 0 0 rgba(0, 0, 0, 1), 120px 90px 0 0 rgba(255,151,0,1), 130px 90px 0 0 rgba(255,151,0,1), 140px 90px 0 0 rgba(255,151,0,1), 150px 90px 0 0 rgba(255,151,0,1), 160px 90px 0 0 rgba(0, 0, 0, 1), 170px 90px 0 0 rgba(0, 0, 0, 1), 180px 90px 0 0 rgba(255,151,0,1), 190px 90px 0 0 rgba(255,151,0,1), 200px 90px 0 0 rgba(255,151,0,1), 210px 90px 0 0 rgba(255,151,0,1), 220px 90px 0 0 rgba(0, 0, 0, 1), 40px 100px 0 0 rgba(0, 0, 0, 1), 50px 100px 0 0 rgba(255,151,0,1), 60px 100px 0 0 rgba(0, 0, 0, 1), 100px 100px 0 0 rgba(0, 0, 0, 1), 110px 100px 0 0 rgba(255,151,0,1), 120px 100px 0 0 rgba(255,151,0,1), 130px 100px 0 0 rgba(255,151,0,1), 140px 100px 0 0 rgba(255,151,0,1), 150px 100px 0 0 rgba(255,151,0,1), 160px 100px 0 0 rgba(255,151,0,1), 170px 100px 0 0 rgba(255,151,0,1), 180px 100px 0 0 rgba(255,151,0,1), 190px 100px 0 0 rgba(255,151,0,1), 200px 100px 0 0 rgba(255,151,0,1), 210px 100px 0 0 rgba(0, 0, 0, 1), 40px 110px 0 0 rgba(0, 0, 0, 1), 50px 110px 0 0 rgba(255,151,0,1), 60px 110px 0 0 rgba(255,151,0,1), 70px 110px 0 0 rgba(0, 0, 0, 1), 90px 110px 0 0 rgba(0, 0, 0, 1), 100px 110px 0 0 rgba(255,151,0,1), 110px 110px 0 0 rgba(255,151,0,1), 120px 110px 0 0 rgba(255,151,0,1), 130px 110px 0 0 rgba(255,151,0,1), 140px 110px 0 0 rgba(255,151,0,1), 150px 110px 0 0 rgba(255,151,0,1), 160px 110px 0 0 rgba(255,151,0,1), 170px 110px 0 0 rgba(255,151,0,1), 180px 110px 0 0 rgba(255,151,0,1), 190px 110px 0 0 rgba(0, 0, 0, 1), 200px 110px 0 0 rgba(0, 0, 0, 1), 50px 120px 0 0 rgba(0, 0, 0, 1), 60px 120px 0 0 rgba(255,151,0,1), 70px 120px 0 0 rgba(255,151,0,1), 80px 120px 0 0 rgba(0, 0, 0, 1), 90px 120px 0 0 rgba(0, 0, 0, 1), 100px 120px 0 0 rgba(255,151,0,1), 110px 120px 0 0 rgba(255,151,0,1), 120px 120px 0 0 rgba(255,151,0,1), 130px 120px 0 0 rgba(0, 0, 0, 1), 140px 120px 0 0 rgba(255,151,0,1), 150px 120px 0 0 rgba(255,151,0,1), 160px 120px 0 0 rgba(0, 0, 0, 1), 170px 120px 0 0 rgba(0, 0, 0, 1), 180px 120px 0 0 rgba(0, 0, 0, 1), 50px 130px 0 0 rgba(0, 0, 0, 1), 60px 130px 0 0 rgba(255,151,0,1), 70px 130px 0 0 rgba(255,151,0,1), 80px 130px 0 0 rgba(0, 0, 0, 1), 90px 130px 0 0 rgba(255,151,0,1), 100px 130px 0 0 rgba(255,151,0,1), 110px 130px 0 0 rgba(255,151,0,1), 120px 130px 0 0 rgba(255,151,0,1), 130px 130px 0 0 rgba(255,151,0,1), 140px 130px 0 0 rgba(0, 0, 0, 1), 150px 130px 0 0 rgba(255,235,60,1), 160px 130px 0 0 rgba(255,235,60,1), 170px 130px 0 0 rgba(0, 0, 0, 1), 60px 140px 0 0 rgba(0, 0, 0, 1), 70px 140px 0 0 rgba(255,151,0,1), 80px 140px 0 0 rgba(0, 0, 0, 1), 90px 140px 0 0 rgba(255,151,0,1), 100px 140px 0 0 rgba(255,151,0,1), 110px 140px 0 0 rgba(255,151,0,1), 120px 140px 0 0 rgba(0, 0, 0, 1), 130px 140px 0 0 rgba(0, 0, 0, 1), 140px 140px 0 0 rgba(255,235,60,1), 150px 140px 0 0 rgba(255,235,60,1), 160px 140px 0 0 rgba(255,235,60,1), 170px 140px 0 0 rgba(0, 0, 0, 1), 70px 150px 0 0 rgba(0, 0, 0, 1), 80px 150px 0 0 rgba(0, 0, 0, 1), 90px 150px 0 0 rgba(255,151,0,1), 100px 150px 0 0 rgba(255,151,0,1), 110px 150px 0 0 rgba(255,151,0,1), 120px 150px 0 0 rgba(255,151,0,1), 130px 150px 0 0 rgba(255,235,60,1), 140px 150px 0 0 rgba(255,235,60,1), 150px 150px 0 0 rgba(255,235,60,1), 160px 150px 0 0 rgba(0, 0, 0, 1), 180px 150px 0 0 rgba(0, 0, 0, 1), 80px 160px 0 0 rgba(0, 0, 0, 1), 90px 160px 0 0 rgba(0, 0, 0, 1), 100px 160px 0 0 rgba(255,151,0,1), 110px 160px 0 0 rgba(255,151,0,1), 120px 160px 0 0 rgba(255,151,0,1), 130px 160px 0 0 rgba(255,235,60,1), 140px 160px 0 0 rgba(255,235,60,1), 150px 160px 0 0 rgba(0, 0, 0, 1), 160px 160px 0 0 rgba(0, 0, 0, 1), 170px 160px 0 0 rgba(0, 0, 0, 1), 90px 170px 0 0 rgba(0, 0, 0, 1), 100px 170px 0 0 rgba(0, 0, 0, 1), 110px 170px 0 0 rgba(255,151,0,1), 120px 170px 0 0 rgba(0, 0, 0, 1), 130px 170px 0 0 rgba(0, 0, 0, 1), 140px 170px 0 0 rgba(0, 0, 0, 1), 90px 180px 0 0 rgba(0, 0, 0, 1), 110px 180px 0 0 rgba(255,151,0,1), 130px 180px 0 0 rgba(0, 0, 0, 1), 90px 190px 0 0 rgba(0, 0, 0, 1), 100px 190px 0 0 rgba(0, 0, 0, 1), 110px 190px 0 0 rgba(0, 0, 0, 1), 120px 190px 0 0 rgba(0, 0, 0, 1);
    height: 10px;
    width: 10px;
  }  
  